@media only screen and (max-width: 430px) {
  h2{
    font-size: 25px;
    margin-top: 15%;
    padding-left: 10%;
    color: #001f21;
  }

  .job-components {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
    justify-items: center;
    
  }

  .job-listing {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    margin-bottom: 8%;
    font-size: 20px;
    background-color: #83c5be;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    color: #001f21;
  }

  p > span {
    font-weight: 600;
  }

  .view-packages-btn, iframe{
    margin-top: 4%;
  }

  iframe{
    border-radius: 10px;
  }

  /* Buttons Style */
  .view-packages-btn, .accept-btn {
    text-transform: uppercase;
    padding: 2%;
    width: 100%;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: black;
  }

  .view-packages-btn:hover, .accept-btn:hover{
    background-color: #006D77;
    color: #fff;
  }

  

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup li {
    list-style: none;
    padding: 10px;
  }

  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
    width: 200px;
    height: auto;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .close p {
    padding: 5px;
  }

  /* Delivery History */

  .history {
    padding-top: 5%;
  }

  .history-listing {
    display: grid;
    padding-bottom: 1%;
    font-size: 1rem;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    margin-bottom: 16px;
    background-color: #83c5be;
    border-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }

  .bold-text {
    font-weight: 600;
  }

  .history-listing img {
    max-width: 100%;
    height: auto;
  }
}
