@media only screen and (max-width: 600px) {
  header {
    width: 100vw;
    height: 8vh;
    background-color: #006d77;
  }

  header img {
    height: 100%;
    width: auto;
    border-radius: 1;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #ffffff;
    height: 800px;
    width: 430px;
    margin: 0 auto;
  }

  .login-child {
    width: 80%;
    background-color: #006d77;
    border-radius: 4%;
  }

  .login-child form {
    padding: 30px;
  }

  .login-child form > * {
    border-radius: 10px;
    background-color: #ffffff;
    color: #00494f;
    width: 100%;
    padding: 5%;
    margin-bottom: 5px;
    border: 2px solid #ffffff;
  }

  .login-child h4 {
    padding-top: 10px;
    padding-left: 10%;
    margin-top: 5%;
    font-size: 2em;
  }

  .login-btn:hover {
    background-color: #006d77;
    color: #ffffff;
    border: 2px solid #ffffff;
  }

  .login-btn:active {
    background-color: #e27160;
    color: #ffffff;
    border: 2px solid #e27160;
  }

  .welcome {
    text-align: center;
    font-weight: 600;
    display: grid;
    gap: 10px;
    color: #e27160;
    /* margin-top: 10%; */
    font-size: 1.5em;
  }

  .shot-put-title {
    font-size: 36px;
    margin-bottom: 30px;
    z-index: 1;
  }

  .bike {
    width: 300px;
    /* height: auto; */
    position: absolute;
    top: 100px;
    right: 60px;
  }

  footer {
    width: 100vw;
    height: 70px;
    background-color: #006d77;
    text-align: center;
    color: #ffffff;
  }

  footer p {
    padding-top: 25px;
  }
}
