@media only screen and (max-width: 430px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .app {
    width: 430px;
    margin: 0 auto;
  }

  body {
    width: 100%;
    background-color: #edf6f9;
  }
}
