* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 430px;
  background-color: #edf6f9;
}

.job-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job {
  background-color: #83c5be;
  border-radius: 15px;
  color: black;
  height: 260px;
  width: 350px;
  flex-direction: column;
  margin-bottom: 30px;

  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto; */
}

.job-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* map {
  margin-top: 5px;
} */

