@media only screen and (max-width: 430px) {
  .delivery-h3 {
    text-align: center;
    font-size: 25px;
    padding: 4px;
  }

  .job-listing {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 20px;

    width: 100%;
    height: 450px;
    margin-bottom: 10px;
    background-color: #83c5be;
    border-radius: 10px;
    /* border: #e29578 5px solid; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle black shadow */
  }

  .job-components {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: rows;
    gap: 20px;
    padding: 30px;
    justify-items: center;
  }

  .volume {
    font-size: 0.8rem;
    vertical-align: super;
  }

  .job-details {
    display: grid;
    flex-direction: column;
    justify-items: center;

    padding: 15px;
    width: 100%;
    height: 100%;
    gap: 20px;
    border-radius: 10px;
    background-color: #5ec4ba;
    /* border: #e29578 5px solid; */
  }

  .job-details p span {
    font-weight: 600;
  }

  .accept-btn {
    font: inherit;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    width: 100px;
  }

  .accept-btn:hover {
    background-color: #5ec4ba;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup li {
    list-style: none;
    padding: 10px;
  }

  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
    width: 200px;
    height: auto;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .close p {
    padding: 5px;
  }
}

.view-packages-btn{
  text-transform: uppercase;
  height: 45px;
  width: 100px;
  background-color: #4f8f89;
  color: white;
}

.accept-btn {
  text-transform: uppercase;
  height: 45px;
  width: 100px;
  background-color: #4fb456;
  color: white;
}
