.edit-name{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  margin-top: 16%;
  padding: 0 8%;
  color: #00494f;
}

.edit-name > *{
  padding: 6% 0;
}

h1{
  font-size: 2em;
}

form{ 
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 10px;
  padding: 3% 0;
}

form > *, .btn{ 
  margin-bottom: 2%;
  padding: 3%;
  border-radius: 10px;
  border: 2px solid #83C5BE;
  font-size: 1.5em;
}

.btn{
  text-decoration: none;
  background-color: #006D77;
  border: 2px solid #83C5BE;
  color: #FFF;
}
