header{
    width: 100vw;
    height: 8vh;
    background-color: #006D77;
}

header img{
    height: 30px;
    width: 30px;
}

.login-container {
    /* background-color: #006D77;
    margin: auto;
    width: 50%;
    padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #FFFFFF;
    height: 92vh;
    width: 100vw;
}

.login-child{
    width: auto;
    height: 30%;
    background-color: #006D77;
    border-radius: 6%;
}

.login-child form{
    padding: 30px;
}

.login-child form > *{
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #00494f;
    width: 100%;
    padding: 5%;
    margin-bottom: 5px;
    border: 2px solid #FFFFFF;
}

.login-child h4{
    padding-top: 10px;
    padding-left: 15%;
    margin-top: 5%;
}

.login-btn:hover{
    background-color: #006D77;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.login-btn:active{
    background-color: #E27160;
    color: #FFFFFF;
    border: 2px solid #E27160;
}
@media only screen and (max-width: 600px) {
    .login-child{
        width: auto;
        height: 30%;
        background-color: #006D77;
        border-radius: 6%;
    }
}