@media only screen and (max-width: 430px) {
  nav {
    width: 100%;
    margin: auto;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  nav ul a {
    text-decoration: none;
    color: black;
    text-align: center;
  }

  nav ul a:hover {
    color: #2dc0b1;
  }


  .menu-toggle {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
  }

  .burger {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    list-style-type: none;
    transform: translateX(-100%);
  }

  .menu.open {
    transform: translateX(0);
    transition: 1s;
  }

  .logout:hover {
    color: #ff00008e;
  }



  .menu.close {
    transition: 1s;
  }
  
  .menu li {
    margin-bottom: 20px;
  }

  .menu li:first-child {
    margin-top: 20px;
  }
}  