@media only screen and (max-width: 430px) {
  nav {
    width: 100%;
    margin: auto;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  nav ul a {
    text-decoration: none;
    color: black;
    text-align: center;
  }

  nav ul a:hover {
    color: #2dc0b1;
  }

  .logout:hover {
    color: #ff00008e;
  }
}
