@media only screen and (max-width: 430px) {
  .profile-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    font-size: 20px;
    height: 70%;
    width: auto;
    margin-top: 16%;
    padding: 0 8%;
    color: #00494f;
  }

  h1{
    font-size: 2em;
  }

  .profile-details > *{
    padding: 3%;
  }

  .name, .region, .location{
    border-radius: 10px;
    border: 2px solid #83C5BE;
  }

  .profile img{
    border-radius: 50%;
    height: 8em;
    width: 8em;
    margin: auto;
  }

  .profile-details p span {
    font-weight: 600;
  } 

  form{ 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 10px;
    padding: 3% 0;
  }
  
  form > *, .btn{ 
    margin-bottom: 2%;
    padding: 3%;
    border-radius: 10px;
    border: 2px solid #83C5BE;
  }

  header{
    width: 100vw;
    height: 8vh;
    background-color: #006D77;
  }

  header img{
    height: 100%;
    width: auto;
    border-radius: 1%;
  }
}