@media only screen and (max-width: 430px) {
  .profile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 20px;

    height: 250px;
    width: 400px;
    margin-bottom: 10px;
  }

  .profile-details {
    display: grid;
    justify-items: center;
    gap: 20px;
  }

  .profile-details p span {
    font-weight: 600;
  }

  .name{
    background-color: #83c5be;
    border-radius: 10px;
    border: #5ec4ba 5px solid;
  }

  .region{
    background-color: #83c5be;
    border-radius: 10px;
    border: #5ec4ba 5px solid;
  }

  .location{
    background-color: #83c5be;
    border-radius: 10px;
    border: #5ec4ba 5px solid;
  }

  .edit-btn{
    font: inherit;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    width: 100px;
    border-radius: 10px;
    color: black;
  }

  .edit-btn:hover{
    background-color: #5ec4ba;
    color: black;
  }
}