.profile{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 20px;

  height: 250px;
  width: 400px;
  margin-bottom: 10px; 
}


 